<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute sticky-top">
  <img src="/cali/assets/img/header.png" class="img-fluid" alt="Tienda La Generica - Cali">
</nav>

<br>
<div class="content">
  <div class="container-fluid">
  
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title"><b>Consulta de facturas por numero de cedula</b></h4>
            <p class="card-category">Digite el numero de la cedula</p>
          </div>
          <div class="card-body">
            <form action="/cali/consultaCedula" method="POST">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Cedula</label>
                    <input type="number" class="form-control bg-transparent text-white border-0" name="txtCedula" id="txtConsecutivo" maxlength="50" min="1" pattern="[0-9]+" required>
                    <button type="submit" class="btn btn-success pull-right">Consultar Factura</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <% if (txtCedula != 0)
    {%>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title"><b>Facturas a nombre de la cédula <%=txtCedula%></b></h4>
            </div>
            <div class="card-body">
              <table id="tablaCedula" class="display" style="text-align: center;">
                <thead>
                  <tr><h3>Facturas a nombre de la cédula <%=txtCedula%></h3></tr>
                  <tr>
                    <th>Cédula</th>
                    <th>Consecutivo</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <%consultaVentas.forEach((venta) => {%>
                    <tr>
                      <form action="/cali/facturacion/consultarConsecutivo" method="POST">
                        <td><%=venta.cedula_cliente_ventas%><input type="number" name="txtCedula" value="<%=venta.cedula_cliente_ventas%>" id="txtCedula" hidden></td>
                        <td><%=venta.codigo_venta_ventas%><input type="number" name="txtConsecutivo" value="<%=venta.codigo_venta_ventas%>" id="txtConsecutivo" hidden></td>
                        <td><%=venta.fechahora_ventas%></td>
                        <td><button type="submit" class="btnImprimir btn btn-outline-primary bi bi-printer-fill"> Consultar</button>
                      </form>
                    </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <%}%> 

    
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title"><b>Consulta de facturas por numero de factura (Consecutivo)</b></h4>
          <p class="card-category">Digite el numero de la factura</p>
        </div>

        <% if (error_notificaciones == 3)
        {%>
          <br>
          <div class="col-md-12">
            <div class="alert alert-danger d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
              <div> 
                La factura no existe en el sistema.
              </div>
            </div>
          </div>
        <%}%>

        <% if (error_notificaciones == 4)
        {%>
          <br>
          <div class="col-md-12">
            <div class="alert alert-success d-flex align-items-center" role="alert">
              <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
              <div> 
                La factura encontrada con exito.
              </div>
            </div>
          </div>
        <%}%>

        <div class="card-body">
          <form action="/cali/facturacion/consultarConsecutivo" method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Consecutivo</label>
                  <input type="number" class="form-control bg-transparent text-white border-0" name="txtConsecutivo" id="txtConsecutivo" maxlength="50" min="1" pattern="[0-9]+" required>
                  <button type="submit" class="btn btn-success pull-right">Consultar Factura</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
</div>

  <%  if (error_notificaciones == 4)
  {%>
  <div id="printableArea">
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title">Factura Tiendas la Generica - Cali</h4>
              <p class="card-category">Tiendas la Generica <br>
                Calle 123 # 45 - 56 Esquina <br>
                Celular 0123456789 <br>
                NIT: 98-765-432-1</p>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <hr>
                    <div>
                      <p class="card-category">
                        Nro. Factura: <%= txtConsecutivo %>
                        <br> Fecha Emision: <%=  fecha %>
                        <br> Cedula Cliente: <%= txtCedula %>
                        <br> Telefono: <%= txtTelefonoCliente %>
                        <br> Direccion: <%= txtdireccionCliente %>
                        <br> Correo Electronico: <%= txtemailCliente %>
                        <br> Nombres/Razon: <%= txtNombreCliente %>
                        <br> Atendido Por: <%= atendidoPor %>
                    </div>
                    <hr>
                    <table class="table mdl-data-table" id="" style="text-align: center; width:100%;">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Codigo
                        </th>
                        <th>
                          Nombre
                        </th>
                        <th>
                          Cantidad
                        </th>
                        <th>
                          Valor Producto
                        </th>
                        <th>
                          Total sin IVA
                        </th>
                        <th>
                          Valor IVA
                        </th>
                        <th>
                          Total con IVA
                        </th>
                      </thead>
                      <tbody>
                        <%facturas.forEach((factura) => {%>  
                          <tr>
                            <th><%=factura.ID_detalle_ventas%></th>
                            <th><%=factura.codigo_producto_detalle_ventas%></th>
                            <td><%=factura.nombre_producto%></td>
                            <td><%=factura.cantidad_producto_detalle_ventas%></td>
                            <td>$ <%=factura.valor_producto%></td>
                            <td>$ <%=factura.valor_venta_detalle_ventas%></td>
                            <td>$ <%=factura.valoriva_detalle_ventas%></td>
                            <td>$ <%=factura.valor_total_detalle_ventas%></td>
                          </tr>
                          <% })%>        
                      </tbody>
                    </table>
                    <div>
                      <p class="card-category">
                        <hr>
                        Total Sin IVA:      $ <%= totalparcial %> 
                        <br> Impuesto 19%:  $ <%= totaliva %>
                        <br> Valor a Pagar: $ <%= totalfinal %>
                    </div>
                    <div>
                      <p class="card-category">
                        <hr>
                        Debo y pagare incondicionalmente a la orden de _____ la cantidad de _________ en esta ciudad de Cali En caso de mora me comprometo a pagar el interes del _____ anual desde su vencimiento 
                        hasta la cancelacion de la deuda. En el evento de juicio me someto a los jueces de la ciudad de Cali y al procedimiento ejecutivo o verbal sumario a eleccion de _____ sin protesto eximese 
                        de presentacion para el pago y de aviso por falta del mismo.
                        <br>
                        <br>
                        CALI, ______ DE ____________ DEL ______
                        <hr>
                    </div>    
                  </div>
                </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <button type="submit" id="btnImprimir" name="btnImprimir" onclick="printDiv('printableArea')" value="Imprimir Factura" class="btn btn-success pull-right">imprimir</button>
  </div>
  <%}%>
   
  
  
      